<div id="<%= dom_id fridge %>">
  <p>
    <strong>Name:</strong>
    <%= fridge.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= fridge.user_id %>
  </p>

  <p>
    <strong>Has refrig:</strong>
    <%= fridge.has_refrig %>
  </p>

  <p>
    <strong>Has freezer:</strong>
    <%= fridge.has_freezer %>
  </p>

  <p>
    <strong>Is healthy:</strong>
    <%= fridge.is_healthy %>
  </p>

  <p>
    <strong>Last alerted:</strong>
    <%= fridge.last_alerted %>
  </p>

  <p>
    <strong>Last reported:</strong>
    <%= fridge.last_reported %>
  </p>

  <p>
    <strong>Report frequency:</strong>
    <%= fridge.report_frequency %>
  </p>

</div>
